@font-face {
	font-family: 'icon';
	src:url('/font/icon.eot?-4ip0jl');
	src:url('/font/icon.eot?#iefix-4ip0jl') format('embedded-opentype'),
		url('/font/icon.woff?-4ip0jl') format('woff'),
		url('/font/icon.ttf?-4ip0jl') format('truetype'),
		url('/font/icon.svg?-4ip0jl#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	color: #333;
	background-color: #FFA801;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table; 
}
.clearfix:after {
	clear: both; 
}

#main-wrapper{
	width: 770px;
	margin: 10px auto;
	background-color: #ffffff;
	position: absolute;
	left: 0px;
	right: 0px;
	min-height: 97%;
	padding: 0px 20px;
	border: 2px solid #f7a12d;
}

header{
	margin-bottom: 40px !important;
	margin-top: 40px !important;
	height: 70px;
	text-align: center;
	/*line-height: 70px;*/
}

header img{
	height: 70px;
	float: left;
}

header span{
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5em;
}

#main-wrapper > *{
	margin-bottom: 20px;
}

h3{
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #999;
	display: block;
	line-height: 2em;
}

form label{
	line-height: 3em;
	margin-right: 20px;
}

form label:last-child{
	float: right;
	margin: 0px;
}

form label select{
	width: 150px;
	padding: 5px;
}
form label span{
	margin-right: 5px;
}

.button{
	background-color: #f7a12d;
	border: 1px solid #FFA801;
	color: #fff;
	line-height: 2em;
	padding: 0px 10px;
}

a{
	color: blue;
}

a:hover{
	text-decoration: none;
}

/**
	table
*/
.result{
	width: 100%;
}

.result th,
.result td{
	text-align: left;
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
}

.result tbody tr:nth-child(odd){
	background-color: #eee;
}

.result tbody tr:hover{
	background-color: #f8c672;
}

/**
	detail
*/
.detail{
	font-size: 12px;
}

.detail th,
.detail td{
	padding-right: 10px;
	vertical-align: top;
}

.detail td:last-child{
	padding-right: 0px;
}
	
.detail h3{
	margin-bottom: 10px;
}

td.detail-base{
	padding-right: 20px;
}
td.detail-manager, td.detail-base{
	padding-bottom: 20px;
}

table{
	width: 100%;
}
table th{
	text-align: left;
	font-weight: normal;
}

.detail-players td:nth-child(1){
	text-align: right;
	text-align: right;
}

.detail-manager th{
	white-space: nowrap;
}

form.actions{
	position: absolute;
	right: 17px;
	top: 10px;
}

form.actions .button{
	display: inline-block;
	margin-bottom: 5px;
	/*float: left;*/
	/*width: 80px;*/
	/*clear:both;*/
}

form.actions .button:before{
	font-family: 'icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffffff;
	margin-right: 10px;
}

form.actions .button.print:before{
	content: "\e601";
}

form.actions .button.back:before{
	content: "\e600";
}


form.actions .button{
	border: none;
	background: none;
	color: #333;
	text-align: right;
	width: auto;
	padding: 0px;
	padding-left: 10px;
	/*float: right;*/
	color: blue;
	margin: 0px
}

form.actions .button:hover{
	/*background-color: #f7a12d;
	color: #ffffff;*/
}

form.actions .button span{
	text-decoration: underline;
}

form.actions .button:hover span{
	text-decoration: none;
}
orm.actions .button:hover:before{
	background-color: #f7a12d;
	border: 1px solid #FFA801;
}

form.actions .button:before{
	/*background-color: #d80030;*/
	/*border: 1px solid #ff0000;*/
	color: blue;
	/*padding: 10px;*/
	padding-right: 5px;
	margin: 0px;
	margin-left: 0px;
}

form.actions .button:first-child{
	margin-right: 10px;
}

@media print {
	@page {
		size: auto;
		/*margin: 10mm 15mm 15mm 20mm; */
		margin: 0px;
	}
	
	body{
		padding: 10mm 15mm 15mm 20mm; 
	}
	
	*{
		background-color: #ffffff !important;
		color: #000;
	}
	#main-wrapper{
		padding: 0;
		position: relative;
		margin: 0;
		width: 100%;
		border: 0;
		height: 100%;
	}
	
	header{
		margin-top: 0 !important;
	}
	
	h3{
		border-bottom: 1px solid #000000;
	}
	
	.no-print, .no-print *
		{
				display: none !important;
		}

}
