
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" moznomarginboxes mozdisallowselectionprint><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Slovenská Volejbalová Federácia - Hľadať súpisky</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="copyright" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/main.css" />
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55088225-2', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

</head>
	<body>
		
		
		<div id="main-wrapper">
		
			<FORM class="actions no-print "> 
				<button type="button" class='button back' onClick="history.go(-1);return true;"><span>Spať</span></button>|<button class='button print' onClick="window.print();return true;"><span>Tlač</span></button>
			</FORM>
		
			<header>
				<img src="/img/logo.jpg" alt="SLOVENSKÁ VOLEJBALOVÁ FEDERÁCIA" />
				<span>
					SLOVENSKÁ VOLEJBALOVÁ<br>FEDERÁCIA
				</span>
			</header>
			<table class="detail" style="height: 100%">
				<tr>
					<td class="detail-base">
						<h3>ÚDAJE O SÚPISKE</h3>
						<table>
							<tr>
								<th>Názov družstva</th><td>{{roster.prName}}</td>
							</tr>
							<tr>
								<th>Klub</th><td>{{roster.club}}</td>
							</tr>
							<tr>
								<th>Súťaž</th><td>{{roster.competition}}</td>
							</tr>
							<tr>
								<th>Súťažný ročník</th><td>{{roster.season}}</td>
							</tr>
							<tr>
								<th>Veková kategória</th><td>{{roster.category}}</td>
							</tr>
							
							<tr>
								<th>Pohlavie</th><td>{{roster.gender}}</td>
							</tr>
							
							<tr>
								<th>Názov súpisky</th><td>{{roster.prName}} - {{ roster.season}}</td>
							</tr>
							
							<tr>
								<th>Dátum poslednej modifikácie</th><td>{{roster.lastModification}}</td>
							</tr>
						</table>
					</td>
					<td class="detail-manager">
						<h3>TRÉNERI</h3>
						<table>
							<tr>
								<th>Tréner</th><td>{{roster.coach.name}}</td>
							</tr>
							<tr>
								<th></th><td>{{roster.coach.license}} </td>
							</tr>
							{%if roster.assistant1 %}
							<tr>
								<th>Asistent Trénera</th><td>{{roster.assistant1.name}} </td>
							</tr>
							<tr>
								<th></th><td>{{roster.assistant1.license}}</td>
							</tr>
							{% endif %}
							{%if roster.assistant2 %}
							<tr>
								<th>Asistent Trénera</th><td>{{roster.assistant2.name}} </td>
							</tr>
							<tr>
								<th></th><td>{{roster.assistant2.license}}</td>
							</tr>
							{% endif %}
							{%if roster.assistant3 %}
							<tr>
								<th>Asistent Trénera</th><td>{{roster.assistant3.name}} </td>
							</tr>
							<tr>
								<th></th><td>{{roster.assistant3.license}}</td>
							</tr>
							{% endif %}
							{%if roster.assistant4 %}
							<tr>
								<th>Asistent Trénera</th><td>{{roster.assistant4.name}} </td>
							</tr>
							<tr>
								<th></th><td>{{roster.assistant4.license}}</td>
							</tr>
							{% endif %}
							{%if roster.assistant5 %}
							<tr>
								<th>Asistent Trénera</th><td>{{roster.assistant5.name}}</td>
							</tr>
							<tr>
								<th></th><td>{{roster.assistant5.license}}</td>
							</tr>
							{% endif %}

						</table>
					</td>
				</tr>
				<tr>
					<td colspan="2"  class="detail-players">
						<h3>ZOZNAM HRÁČOV</h3>
						<table>
							<thead>
								<tr>
									<th></td>
									<th>Priezvisko</td>
									<th>Meno</td>
									<th>Reg.číslo</td>
									<th>Dátum narodenia</td>
									<th>Poznámka</td>
								</tr>
							</thead>
							<tbody>
							
							{% for player in roster.players %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{player.surName}}</td>
									<td>{{player.name}}</td>
									<td>{{player.license}}</td>
									<td>{{player.birthDate}}</td>
									<td>{{player.note}}</td>
								</tr>
							{% endfor %}
								
							</tbody>
						</table>
					</td>
				</tr>
			</table>
			
			<div class="detail">
				Kontrolný súčet: {{hash}}
			</div>
		</div>
	</body>
</html>
