
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Slovenská Volejbalová Federácia - Hľadať súpisky</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="copyright" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="./img/favicon.ico" />
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/main.css" />
	

	<!-- Required for non-UTF encodings -->
	<script src="lib/text-encoding/lib/encoding-indexes.js"></script>
	<script src="lib/text-encoding/lib/encoding.js"></script>

</head>
	<body>
		<div id="main-wrapper">
			<header>
				<img src="./img/logo.jpg" alt="SLOVENSKÁ VOLEJBALOVÁ FEDERÁCIA" />
				<span>
					SLOVENSKÁ VOLEJBALOVÁ<br>FEDERÁCIA
				</span>
			</header>
			<form method="get">
				<fieldset>
					<h3>Vyhľadávanie súpisiek</h3>
					<label>
						<span>Ročník sutaže</span>
						<select name="season">
							{% for season in seasons %}

							<option value="{{season.id}}">{{season.baseData.name}}</option>

							{% endfor %}

						</select>
					</label>
					<label>
						<span>súťaž</span>
						<select name="comp">
								{% for competition in competitions %}
							<option value="{{competition.id}}">{{competition.baseData.name}}</option>
							{% endfor %}
						</select>
					</label>
					<label>
						<span>klub</span>
						<select name="club">
							{% for club in clubs %}
							<option value="{{club.id}}">{{club.club.name}}</option>
							{% endfor %}
						</select>
					</label>
					<label>
						<input type="submit" value="Hľadať" class="button" />
					</label>
				</fieldset>
				
			</form>
			
			{%if rosters %}
			<div>
				<h3>Výsledok vyhľadávania</h3>
				<table class="result">
					<thead>
						<tr>
							<th>Marketingový názov družstva</th>
							<th>Klub</th>
							<th>S.ročník</th>
							<th>Sútaž</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					
					

					{% for roster in rosters %}
						<tr>
							<td>{{roster.baseData.prName}}</td>
							<td>{{roster.baseData.club.refData.name}}</td>
							<td>{{roster.baseData.season.refData.name}}</td>
							<td>{{roster.baseData.competition.refData.name}}</td>
							<td><a href="/roster/{{roster.id}}">detail</a></td>
						</tr>
					{% endfor %}

						
					</tbody>
				</table>
			</div>
			{% endif %}
		</div>
	</body>
</html>
